  <head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<link href="http://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet" />
<link rel="stylesheet" href="/stylesheets/market.css" rel="stylesheet" type="text/css" media="all" />
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-117328812-1"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <style>
    body
	{
		margin: 0px;
		padding: 0px;
		background: #F7F7F7;
		font-family: 'monospace', monospace;
		font-size: 10pt;
		font-weight: 150;
		color: #000000;
	}

    .button a{
        margin: 5px;
    }

    /* Remove the navbar's default rounded borders and increase the bottom margin */
    .navbar {
      margin-bottom: 30px;
      border-radius: 0;
    }

    /* Remove the jumbotron's default bottom margin */
     .jumbotron {
      margin-bottom: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 10px;
    }
  </style>

</head>


<div id="header-wrapper">
	<div id="banner" class="container">
		<div class="title">
			<font color="#FFFFF"></font><h2>AI Finance Market</h2></font>
			<span class="byline">We provide the best services of finance.</span>
		</div>
	</div>
</div>
</br>
  <div class="col-md-12">
          <form action="/productSearch" method="GET" class="form-inline">
            <div class="form-group">
              <input type="text" name="search" placeholder="Products search" class="">
              <input type="submit" name="Search" class="btn btn-default">
            </div>
         
          </form>
  </div>


{{# if searchProducts}}
{{# each searchProducts }}
    <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>{{ this.productTitle }}</h3>
                        <p class="description">{{ this.productDescription }}</p>
                        <div class="clearfix text-right btn-toolbar">
                            <div class="price pull-left">NT${{ this.productPrice }}</div>
                            <a href="/add-to-cart/{{this._id}}" class="btn-default btn pull-right" role="button">Add to Shopping Cart</a>
                            <a href="/product/{{this._id}}" class="btn-default btn pull-right" role="button">Read more</a>                    
                        </div>
                    </div>
                </div>
            </div>
    </div>
{{/each}}

{{else}}
<div class="jumbotron">
  <div class="container text-center">
    <p>No results.</p>
  </div>
</div>
     <br><br><br>
</div>
{{/if}}